.terms-heading{
    font-family: 'poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #151C28;
}

.terms-para{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 160%;
color: #585562;

}
.sec-terms-heading{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 160%;
/* or 22px */


color: #151C28;
}